


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<div id="footer" class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
            
            	<form method="POST" class="navbar-form navbar-left" action="/logout?_method=DELETE">
							<button class="btn btn-default">Logout</button>
						</form>
        </div>
    </nav>
</div>