<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
					
					<a class="navbar-brand" href="/">Home</a> 			      
					<a class="navbar-brand" href="/login">Login</a>
					<a class="navbar-brand" href="/search">Search</a> 			      
					<a class="navbar-brand" href="/signup">Signup</a>
			    </div>
			 </div>
		 </nav>  	