<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
		</div>

	<h3>Find the top 30 results on Foursquare for any keyword by clicking search.</h3> 
	

	</div>

</body>
</html>