<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The ind3x page l33t</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

</head>
<body>
	<div class="container">
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
			<a href="users/profile">Profile</a>
		</div>

	<h1>Hello World! Welcome to Rachel's app</h1>

	</div>

</body>
</html>