<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Search</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
		<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
			
		</div>
		<div class="row">
			<div class="col-xs-6 col-xs-offset-3">
				<form class="myForm" method="GET" action="/search">
					<input type="text" name="q" placeholder="Search">
					<button>Click me</button>
				</form>
			</div>
		</div>
		<div class="row">
			<% if (noHappyHours) { %>
				<div class="col-xs-6 col-xs-offset-3">No results</div>
			<% } else { %>
				<% venues.forEach(function(venue){ %>
					<div class="row">
						<div class="col-xs-6 col-xs-offset-3">
							<%= venue.name %>
						</div>
					</div>
				<% }) %>
			<% } %>
		</div>
	</div>

	<h3>Post it:</h3>
	<form method="POST" action="/search">

		<input type="text" name="title" placeholder="Title">
		<input type="text" name="content" placeholder="Description">

		<button type="submit">Submit</button>
	</form>
</br>
</br>

</body>
</html>