<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
	<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
	</div>
		<div>
			<a href="/login">Login</a>

		</div>
	<form method="POST" action="/login">
		<input type="string" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Login</button>
	</form>
</body>
</html>