<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body>
	
	<% include ../partials/navbar %>

	<form method="POST" action="/login">
		<input type="string" name="email" placeholder="Email">
		<input type="password" name="password" placeholder="Password">
		<button>Login</button>
	</form>
</body>
</html>