<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			
		</div>
	<h1>Create your profile:</h1>
	<form method="POST" action="/users">
<!-- after submit, form sends POST request to /posts  -->

		<input type="text" name="email" placeholder="Email">
		<input type="password" name="passwordDigest" placeholder="Password">
	
		<button type="submit">Submit</button>
	</form>
	
</body>
</html>

