<!DOCTYPE html>
<html lang="en">
<head>

	<% include ../partials/head %>

</head>
<body>
		

	<% include ../partials/navbar %>

	<h1>Create your profile:</h1>
	<form method="POST" action="/users">
<!-- after submit, form sends POST request to /posts  -->

		<input type="text" name="email" placeholder="Email">
		<input type="password" name="passwordDigest" placeholder="Password">
	
		<button type="submit">Submit</button>
	</form>
	
</body>
</html>

