<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
		</div>
	<h1>Submit a Happy Hour:</h1>
	<form method="POST" action="/posts">
<!-- after submit, form sends POST request to /posts  -->
		<input type="string" name="title" placeholder="Bar Name">
		<input type="text" name="content" placeholder="Deal">
		<input type="image_url" name="image_url" placeholder="Link">

		<button type="submit">Submit</button>
	</form>
	
</body>
</html>

