<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

	<h1>Submit a Happy Hour:</h1>
	<form method="POST" action="/posts">
<!-- after submit, form sends POST request to /posts  -->
		<input type="string" name="title" placeholder="Bar Name">
		<input type="text" name="content" placeholder="Deal">
		<input type="image_url" name="image_url" placeholder="Link">

		<button type="submit">Submit</button>
	</form>
	
</body>
</html>

