<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <div>
      <a href="users/login">Login</a>
      <a href="/search">Search</a>
      <a href="users/signup">Sign Up</a>
    </div>
</head>
<body>

  <h1>Posts</h1>
  <% ejsPosts.forEach(function(post) { %>
    <div>
      </br>
      <%= post.title %> 
      </br>
      <%= post.content %>
      </br>
      <br>
      <% if (userId) { %>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
          <input type="submit" value="Destroy">
        </form>
      <% } %>
    </div>
  <% }); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>
