<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>
		<div>
			<a href="users/login">Login</a>
			<a href="/search">Search</a>
			<a href="users/signup">Sign Up</a>
		</div>
  <h1>Happy Hour Entry# <%= ejsPost.id %>:</h1>
  <div>

    <%= ejsPost.title %>
</br>
    <%= ejsPost.content %>
</br>

  </div>
  <form method="POST" action="/posts/<%= ejsPost.id %>?_method=DELETE">
</br>
      <button type="submit">Delete Post</button>
    </form>
</body>
</html>

<!-- displays the post title and provides a delete button -->