<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <div>
      <a href="users/login">Login</a>
      <a href="/search">Search</a>
      <a href="users/signup">Sign Up</a>
    </div>
</head>
<body>

  <h1>SF Happy Hours:</h1>
  <% ejsPosts.forEach
  (function(post) 
    { 
      %> <div> 
          </br>
      <%= post.title %> 
    </br>
      <%= post.content %> 
    </br>
      </div> <% 

    }
  ) 
  %>

</body>
</html>